<!-- Table Section -->
<div class=" pb-5">
  <div>
    <section class="container ">
      <h2 class="text-center pt-2 mb-4">CARDIAC</h2>
      <h4 class="text-center" style="font-size: 30px; color:#b3ffff ">DAY 1</h4>
      <table class="table table-success table-striped">
        <thead>
          <tr style="background-color: #014b4b ;">
            <th scope="col">Event Schedule</th>
            <th scope="col">Robotic Surgery Symposium</th>
            <th scope="col">Honored Delegate</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">14:00</th>
            <td style="font-weight: 800; color:rgb(0, 56, 56)">Live Surgery
              Update</td>
            <td class="my-1"></td>
          </tr>

          <tr>
            <th scope="row">14:00</th>
            <td>Beating Heart TECAB - Tele Surgery</td>
            <td>Dr. Sudhir Srivastava
              Dr. Lalit Malik</td>
          </tr>
          <tr>
            <th scope="row">14:00</th>
            <td>Atrial Septal Defect Closure</td>
            <td>Dr. Nitin Rajput</td>
          </tr>
          <tr>
            <th scope="row">14:00</th>
            <td style="color: rgb(1, 114, 108);">LIVE IN THE BOX - Session 1
            </td>
            <td class="my-1"></td>
          </tr>

          <tr>
            <th scope="row">14:30</th>
            <td>Robotic Assisted CABG </td>
            <td>Dr. Ritwik Bhuyan </td>
          </tr>
          <tr>
            <th scope="row">14:40</th>
            <td>Bilateral IMA Takedown </td>
            <td>Dr. MM Yusuf </td>
          </tr>
          <tr>
            <th scope="row">14:50</th>
            <td>Cardiac - Live Surgery Update</td>
            <td class="my-1"></td>

          </tr>
          <tr>
            <th scope="row">14:55</th>
            <td>Beating Heart TECAB </td>
            <td>Dr. Gianluca Torregrosa </td>
          </tr>
          <tr>
            <th scope="row">15:5</th>
            <td>Mitral Valve Replacement - Virtual Talk </td>
            <td>Dr. Sathyaki Nambala </td>
          </tr>
          <tr>
            <th scope="row">15:15</th>
            <td>Cardiac - Live Surgery Update </td>
            <td>Moderated by Dr. Sudhir Srivastava</td>
          </tr>
          <tr>
            <th scope="row">15:20</th>
            <td> My Technique of Robotically Assisted MIDCAB Through a Small Non-Rib-Spreading Minithoracotomy </td>
            <td>Dr. Frank Van Praet </td>
          </tr>
          <tr>
            <th scope="row">15:35</th>
            <td> Mitral Valve Repair </td>
            <td>Dr. T Sloane Guy </td>
          </tr>
          <tr>
            <th scope="row">15:45</th>
            <td> Atrial Septal Defect Repair </td>
            <td> Dr. Yugal Mishra </td>
          </tr>
          <tr>
            <th scope="row">15:55</th>
            <td> Myxoma </td>
            <td>Dr. Husam Balkhy </td>
          </tr>
          <tr>
            <th scope="row">16:5</th>
            <td>Pericardiectomy </td>
            <td>Dr. Sarah Nisivaco </td>
          </tr>
          <tr>
            <th scope="row">16:20</th>
            <td>Tricuspid Valve Repair </td>
            <td>Dr. Husam Balkhy </td>
          </tr>
          <tr>
            <th scope="row">16:30</th>
            <td>Building a Successful and
              Sustainable Robotic Cardiac Surgery Program</td>
            <td>Dr. Johannes Bonnati </td>
          </tr>
          <tr>
            <th scope="row">16:40</th>
            <td>Conversion in Robotic Cardiac Surgery </td>
            <td>Dr. Bob Kiaii </td>
          </tr>
          <tr>
            <th scope="row">14:00</th>
            <td style="font-weight: 800; color:rgb(0, 56, 56)">Live Surgery
              Update</td>
            <td>Dr. Sudhir Srivastava </td>
            <td class="my-1"></td>
          </tr>
          <tr>
            <th scope="row">16:55</th>
            <td>Our Series of Hybrid Coronary Revascularisation </td>
            <td>Dr. Frank Van Praet </td>
          </tr>
          <tr>
            <th scope="row">17:5</th>
            <td>TAVI TMVR </td>
            <td>Dr. Anson Cheung </td>
          </tr>
          <tr style="color: rgb(5, 131, 131);">
            <th scope="row">17:15</th>
            <td style="font-weight: 800; color:rgb(0, 56, 56)">Panel Discussion and Q&A </td>
            <td class="my-1"></td>
          </tr>
      </table>

    </section>
  </div>
  <div>
    <section class="container ">
      <h4 class="text-center" style="font-size: 30px; color:#b3ffff ">DAY 2</h4>
      <table class="table table-success table-striped">
        <thead>
          <tr style="background-color: #014b4b ;">
            <th scope="col">Event Schedule</th>
            <th scope="col">Robotic Surgery Symposium</th>
            <th scope="col">Honored Delegate</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">10:30</th>
            <td> Low Adoption of TECAB - How to Change it </td>
            <td>Dr. Johannes Bonnatti </td>
          </tr>
          <tr>
            <th scope="row">10:40</th>
            <td>Mitral Valve Repair - How do I do it </td>
            <td>Dr. Nirav Patel </td>
          </tr>
          <tr>
            <th scope="row">10:50 </th>
            <td>Can Robotics have application in Heart Transplant?</td>
            <td>Dr. Valluvan Jeevanandam </td>
          </tr>

          <tr>
            <th scope="row">11:00</th>
            <td>Anastomotic Challenges in TECAB </td>
            <td>Dr. Husam Balkhy </td>
          </tr>
          <tr>
            <th scope="row">11:00</th>
            <td> Yes, I did one - Robotic Heart Transplant </td>
            <td>Dr. Feras Khaliel </td>
          </tr>
          <tr>
            <th scope="row">11:20</th>
            <td style="font-weight: 800; color:rgb(0, 56, 56)">Cardiac - Live Surgery Update</td>
            <td class="my-1"></td>

          </tr>
          <tr>
            <th scope="row">11:30</th>
            <td>Mitral Valve Repair - Cleveland Clinic Experience </td>
            <td>Dr. Marc Gillinov </td>
          </tr>
          <tr>
            <th scope="row">11:40</th>
            <td>Robotic Aortic Valve Replacement </td>
            <td>Dr. MM Yusuf </td>
          </tr>
          <tr>
            <th scope="row">11:50</th>
            <td>Mitral Valve Repair through a small working port </td>
            <td>Dr. T Sloane Guy </td>
          </tr>
          <tr>
            <th scope="row">12:00-13:00</th>
            <td style="font-weight: 800; color:rgb(0, 56, 56)">Panel Discussion and Q&A
            </td>
            <td class="my-1"></td>
            <td></td>

          </tr>

          <tr>
            <th scope="row">13:00</th>
            <td style="font-weight: 800; color:rgb(0, 56, 56)">Lunch</td>
            <td class="my-1"></td>

          </tr>

          <tr>
            <th scope="row">13:00 </th>
            <td> Mitral Valve Repair - Manipal Hospital, Jaipur - Tele Surgery</td>
            <td>Dr. T. Sloane Guy</td>
          </tr>
          <tr>
            <th scope="row">15:00</th>
            <td>Tips and Tricks for Early Adopters </td>
            <td>Panel Discussion</td>
          </tr>
          <tr>
            <th scope="row">15:30</th>
            <td>TRobotic Cardiac Surgery Unplugged </td>
            <td>All Robotic Cardiac Leaders</td>
          </tr>
          <tr>
            <th scope="row">16:30</th>
            <td>CLOSING REMARKS AND THANKS </td>
            <td>Dr. Sudhir Srivastava</td>

          </tr>
        </tbody>
      </table>

    </section>
  </div>
</div>
<div class="pb-5">

</div>