<div class="menu-container">
  <!-- GENERAL -->
  <div class="menu-item teal-gradient" (click)="redirectToPage('general')">
    <span class="menu-text">GENERAL</span>
    <div class="menu-icon">
      <i class="arrow-right"></i>
    </div>
  </div>

  <!-- CARDIAC -->
  <div class="menu-item teal-gradient" (click)="redirectToPage('cardiac')">
    <span class="menu-text">CARDIAC</span>
    <div class="menu-icon">
      <i class="arrow-right"></i>
    </div>
  </div>

  <!-- UROLOGY -->
  <div class="menu-item teal-gradient" (click)="redirectToPage('urological')">
    <span class="menu-text">UROLOGY</span>
    <div class="menu-icon">
      <i class="arrow-right"></i>
    </div>
  </div>

  <!-- COLORECTAL -->
  <div class="menu-item teal-gradient" (click)="redirectToPage('thoracic')">
    <span class="menu-text">COLORECTAL</span>
    <div class="menu-icon">
      <i class="arrow-right"></i>
    </div>
  </div>

  <!-- GYNAECOLOGY -->
  <div class="menu-item teal-gradient" (click)="redirectToPage('gynaecology')">
    <span class="menu-text">GYNAECOLOGY</span>
    <div class="menu-icon">
      <i class="arrow-right"></i>
    </div>
  </div>

  <!-- HEAD & NECK -->
  <div class="menu-item teal-gradient" (click)="redirectToPage('Head-Neck')">
    <span class="menu-text">HEAD & NECK</span>
    <div class="menu-icon">
      <i class="arrow-right"></i>
    </div>
  </div>
</div>
