<!-- ---------Card--------- -->
<div class="container-fluid py-5">
  <div class="row justify-content-center">
    <!-- ----General---- -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center mb-4">
      <div class="custom-card border border-info" (click)="redirectToPage('general')" style="cursor: pointer;">
        <img src="images/General.png" alt="General">
        <div class="card-text-overlay">General</div>
      </div>
    </div>

    <!-- ----Cardiac---- -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center mb-4">
      <div class="custom-card border border-info" (click)="redirectToPage('cardiac')" style="cursor: pointer;">
        <img src="images/cardiac.png" alt="Cardiac">
        <div class="card-text-overlay">Cardiac</div>
      </div>
    </div>

    <!-- ----Urology---- -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center mb-4">
      <div class="custom-card border border-info" (click)="redirectToPage('urological')" style="cursor: pointer;">
        <img src="images/Urology.png" alt="Urological">
        <div class="card-text-overlay">Urological</div>
      </div>
    </div>

    <!-- ----Thoracic---- -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center mb-4">
      <div class="custom-card border border-info" (click)="redirectToPage('thoracic')" style="cursor: pointer;">
        <img src="images/Colorectal.png" alt="Thoracic">
        <div class="card-text-overlay">Thoracic</div>
      </div>
    </div>

    <!-- ----Gynaecology---- -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center mb-4">
      <div class="custom-card border border-info" (click)="redirectToPage('gynaecology')" style="cursor: pointer;">
        <img src="images/gynaecology.png" alt="Gynaecology">
        <div class="card-text-overlay">Gynaecology</div>
      </div>
    </div>

    <!-- ----Head & Neck---- -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 d-flex justify-content-center mb-4">
      <div class="custom-card border border-info" (click)="redirectToPage('Head-Neck')" style="cursor: pointer;">
        <img src="images/Head & Neck.png" alt="Head & Neck">
        <div class="card-text-overlay">Head & Neck</div>
      </div>
    </div>
  </div>
</div>
