<header class="bg-dark text-white text-center py-5 ">
  <div class="container">
    <h1>About Us</h1>
    <!-- Conference Introduction Section -->
    <section class="container my-5">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2 class="text-center fw-bold mb-4">Second Global SSI Multi-Speciality Robotic Surgery Conference (SMRSC)
            2025</h2>
          <p class="lead text-center">
            SS Innovations is delighted to announce the <strong>"Second Global SSI Multi-Speciality Robotic Surgery
              Conference (SMRSC) 2025,"</strong>
            a pioneering platform to explore cutting-edge advancements in robotic surgery with the revolutionary
            <strong>"SSI Mantra 3" Surgical Robotic System.</strong>
            Building on the remarkable success of SMRSC 2024, which brought together leading minds to discuss and
            showcase transformative innovations, this year's event promises to elevate the dialogue further.
          </p>
          <p>
            SS Innovations continues its commitment to transforming healthcare across specialties like Urology, General
            Surgery, Gynecology, Head & Neck, and Cardiothoracic surgery.

            Scheduled from the 7th to the 9th of March 2025, at The Leela Ambience Hotel, Gurugram, Haryana, India,
            SMRSC 2025 is poised to bring together an esteemed gathering of global medical experts, technologists, and
            visionaries. This event will spotlight the future of robotic surgery, emphasizing the advanced capabilities
            of the SSI Mantra 3 system.

            The conference will host prominent National and International Faculty, presenting scientific sessions on the
            evolution of robotic surgery, the role of Artificial Intelligence, and the promise of sustainable
            tele-surgery. Attendees will witness live surgeries performed with the SSI Mantra 3 system, showcasing its
            versatile applications across multiple specialties, including cardiac surgery, while gaining invaluable
            insights and hands-on learning opportunities.

            Highlighted themes include innovations in robotic surgery, enhanced capabilities of the SSI Mantra 3 system,
            the integration of AI in surgical practices, and the expanding potential of tele-surgery. Special focus will
            also be given to groundbreaking developments in multi-specialty and cardiac robotic procedures.

            SMRSC 2025 aspires to drive collaboration, inspire innovation, and facilitate knowledge-sharing among global
            thought leaders, practitioners, and industry pioneers. This conference aims to redefine the future of
            surgical care, with the SSI Mantra 3 system at its core.

            We invite you to join us for this transformative event that will shape the next chapter in robotic surgery
            for 2025 and beyond.
          </p>
        </div>
        <h2 class="text-center fw-bold pt-4 mb-4">CONFERENCE AT GLANCE</h2>
      </div>
    </section>

    <div id="customCarousel" class="carousel slide pb-5" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-center">
            <div class="slider-box">EXCLUSIVE ACADEMIC WORKSHOPS, PRESENTATIONS & SHOWCASES</div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="slider-box">NATIONAL & INTERNATIONAL RENOWNED FACULTY</div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <div class="slider-box">LIVE ROBOTIC SURGERIES IN MULTI-SPECIALITY</div>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <button class="carousel-control-prev pb-5" type="button" data-bs-target="#customCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next pb-5" type="button" data-bs-target="#customCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

  </div>
</header>