<!-- Table Section -->
<div class=" pb-5">
  <div>
    <section class="container ">
      <h2 class="text-center pt-2 mb-4">GENERAL</h2>
      <table class="table table-success table-striped">
        <thead>
          <tr style="background-color: #014b4b ;">
            <th scope="col">Event Schedule</th>
            <th scope="col">Robotic Surgery Symposium</th>
            <th scope="col">Honored Delegate</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">3:50-4:20 PM</th>
            <td> Inguinal Hernia</td>
            <td>Dr. Magan Mehrotra</td>
          </tr>
          <tr>
            <th scope="row">3:50-4:20 PM</th>
            <td>Ventral Hernia</td>
            <td>Dr. Azhar Perwaiz</td>
          </tr>
          <tr>
            <th scope="row">3:50-4:20 PM</th>
            <td>Cholecystectomy</td>
            <td>Dr. Atul Soni</td>
          </tr>

          <tr>
            <th scope="row">4:20pm</th>
            <td>Colorectal Surgery Experience with SSI Mantra </td>
            <td>Dr. Somashekhar SP /
              Dr. Kushal Agrawal</td>
          </tr>
          <tr>
            <th scope="row">4:30PM</th>
            <td>Pancreatic Anastomosis </td>
            <td>Dr. Raj Gajbhiye </td>
          </tr>
          <tr>
            <th scope="row">4:45PM</th>
            <td>Sleeve Resection </td>
            <td>Dr. Deepak Mittal </td>
          </tr>
          <tr>
            <th scope="row">4:55 PM</th>
            <td>Post Whippels Reconstruction: Intracorporeal PJ, Hep J and GJ" How I do it</td>
            <td>Dr. Jagannath Dixit </td>
          </tr>
          <tr>
            <th scope="row">5:10 PM</th>
            <td>Hemicolectomy </td>
            <td>Dr. Kushal Agrawal </td>
          </tr>
          <tr>
            <th scope="row">9:35 AM</th>
            <td>Fundoplication - Virtual Talk </td>
            <td>Dr. Sanjiv Haribhakti </td>
          </tr>

        </tbody>
      </table>

    </section>
  </div>
</div>
<div class="pb-5">

</div>
