<!-- Table Section -->
<div class=" pb-5 ">
  <div>
    <section class="container ">
      <h2 class="text-center pt-2 mb-4">COLORECTAL</h2>
      <h4 class="text-center" style="font-size: 30px; color:#b3ffff ">DAY 1</h4>
      <table class="table table-success table-striped">
        <thead>
          <tr style="background-color: #014b4b ;">
            <th scope="col">Event Schedule</th>
            <th scope="col">Robotic Surgery Symposium</th>
            <th scope="col">Honored Delegate</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">3:50-4:20 PM</th>
            <td> Inguinal Hernia</td>
            <td>Dr. Magan Mehrotra</td>
          </tr>
          <tr>
            <th scope="row">3:50-4:20 PM</th>
            <td>Ventral Hernia</td>
            <td>Dr. Azhar Perwaiz</td>
          </tr>
          <tr>
            <th scope="row">3:50-4:20 PM</th>
            <td>Cholecystectomy</td>
            <td>Dr. Atul Soni</td>
          </tr>

          <tr>
            <th scope="row">4:20pm</th>
            <td>Colorectal Surgery Experience with SSI Mantra </td>
            <td>Dr. Somashekhar SP /
              Dr. Kushal Agrawal</td>
          </tr>
          <tr>
            <th scope="row">4:30PM</th>
            <td>Pancreatic Anastomosis </td>
            <td>Dr. Raj Gajbhiye </td>
          </tr>
          <tr>
            <th scope="row">4:45PM</th>
            <td>Sleeve Resection </td>
            <td>Dr. Deepak Mittal </td>
          </tr>
          <tr>
            <th scope="row">4:55 PM</th>
            <td>Post Whippels Reconstruction: Intracorporeal PJ, Hep J and GJ" How I do it</td>
            <td>Dr. Jagannath Dixit </td>
          </tr>
          <tr>
            <th scope="row">5:10 PM</th>
            <td>Hemicolectomy </td>
            <td>Dr. Kushal Agrawal </td>
          </tr>
          <tr>
            <th scope="row">9:35 AM</th>
            <td>Fundoplication - Virtual Talk </td>
            <td>Dr. Sanjiv Haribhakti </td>
          </tr>

        </tbody>
      </table>

    </section>
  </div>
  <div>
    <section class="container ">
      <h4 class="text-center" style="font-size: 30px; color:#b3ffff ">DAY 2</h4>
      <table class="table table-success table-striped">
        <thead>
          <tr style="background-color: #014b4b ;">
            <th scope="col">Event Schedule</th>
            <th scope="col">Robotic Surgery Symposium</th>
            <th scope="col">Honored Delegate</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">10:30 AM</th>
            <td> Mini Gastric Bypass </td>
            <td>Dr. Arun Prasad </td>
          </tr>
          <tr>
            <th scope="row">10:40</th>
            <td>Hernia Experience </td>
            <td>Dr. Magan Mehrotra </td>
          </tr>
          <tr>
            <th scope="row">10:50 AM</th>
            <td>General Surgery - Live Surgery Update
            </td>

          </tr>

          <tr>
            <th scope="row">10:55 AM</th>
            <td>Robotic LAR </td>
            <td>Dr. Diwakar Pandey </td>
          </tr>
          <tr>
            <th scope="row">11:5 AM</th>
            <td>Robotic Esophagectomy </td>
            <td>Dr. Harish Sharma</td>
          </tr>
          <tr>
            <th scope="row">11:15 AM</th>
            <td>General Surgery - Live Surgery Update</td>

          </tr>
          <tr>
            <th scope="row">11:20AM</th>
            <td>General Surgery Experience on Mantra in Ecuador </td>
            <td>Dr. Luis Maldonado </td>
          </tr>
          <tr>
            <th scope="row">11:30</th>
            <td>Robotic Surgery in Rural India </td>
            <td>Dr. Tirumala Prasad </td>
          </tr>
          <tr>
            <th scope="row">11:40AM</th>
            <td>Robotic Mobilization of Esophagus using SSI Mantra: Early Experience</td>
            <td>Dr. Azhar Perwaiz </td>
          </tr>
          <tr>
            <th scope="row">11:40AM</th>
            <td style="font-weight: 800; color:rgb(0, 56, 56)">Panel Discussion and Q&A
            </td>

          </tr>
          <tr>
            <th scope="row">12: PM</th>
            <td style="font-weight: 800; color:rgb(0, 56, 56)"> Lunch</td>
          </tr>
          <tr>
            <th scope="row">12:00 1:00 PM</th>
            <td>Esophagectomy - Tele surgery </td>
            <td>Dr. Somashekhar SP
              Dr. Kushal Agrawal</td>
          </tr>

          <tr>
            <th scope="row">13:00 </th>
            <td> Esophagectomy - Tele surgery</td>
            <td>Dr. Somashekhar SP
              Dr. Kushal Agrawal</td>
          </tr>
          <tr>
            <th scope="row">13:00 </th>
            <td>Radical Nephrectomy</td>
            <td>Dr. Arvind Dhameliya</td>
          </tr>
          <tr>
            <th scope="row">13:00</th>
            <td>Lateral Neck Dissection/Thyroidectomy</td>
            <td>Dr. Mudit Agarwal</td>

          </tr>
          <tr>
            <th scope="row">13:30 </th>
            <td>Infant Pyeloplasty Experience on SSI Mantra </td>
            <td>Dr. Chandra Mohan Vaddi </td>
          </tr>
          <tr>
            <th scope="row">13:40</th>
            <td>Nepal Urology Experience </td>
            <td>Dr. Saroj Baidya </td>
          </tr>
          <tr>
            <th scope="row">13:50</th>
            <td style="font-weight: 800; color:rgb(0, 56, 56)">Live Surgery Update</td>
          <tr>
            <th scope="row">13:55</th>
            <td> Augmentation Cystoplasty </td>
            <td>Dr. M Ramalingam </td>
          </tr>
          <tr>
            <th scope="row">14:5</th>
            <td> Tips, Trick & Troubleshooting </td>
            <td style="font-weight: 800; color:rgb(0, 56, 56)">Panel Discussion</td>
          </tr>
          <tr>
            <th scope="row">14:15</th>
            <td style="font-weight: 800; color:rgb(0, 56, 56)">Live Surgery Update</td>
            <td style="font-weight: 800; color:rgb(0, 56, 56)"> Dr. Sanjiv Haribhakti </td>
          </tr>
          <tr>
            <th scope="row">14:20</th>
            <td>Robotic Cystectomy with Neobladder </td>
            <td>Dr. Ashish Khanna </td>
          </tr>
          <tr>
            <th scope="row">14:30</th>
            <td> Uretro Vaginal Fistula and VVF </td>
            <td>Dr. Sarbartha Kumar Pratihar </td>
          </tr>
          <tr>
            <th scope="row">14:40</th>
            <td style="font-weight: 800; color:rgb(0, 56, 56)">Live Surgery Update</td>
          </tr>
          <tr>
            <th scope="row">14:45</th>
            <td> TORS with Tongue sparing </td>
            <td>Dr. G Kranthi Kumar </td>
          </tr>
          <tr>
            <th scope="row">14:55</th>
            <td>Robotic Nipple Sparing Mastectomy </td>
            <td>Dr. Anagha Zope </td>
          </tr>
        </tbody>
      </table>

    </section>
  </div>
</div>
<div class="py-4"></div>