<!-- Table Section -->
<div class=" pb-5">
  <div>
    <section class="container ">
      <h2 class="text-center pt-2 mb-4">GYNAECOLOGY</h2>
      <h4 class="text-center" style="font-size: 30px; color:#b3ffff ">DAY 2</h4>
      <table class="table table-success table-striped">
        <thead>
          <tr style="background-color: #014b4b ;">
            <th scope="col">Event Schedule</th>
            <th scope="col">Robotic Surgery Symposium</th>
            <th scope="col">Honored Delegate</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">15:10</th>
            <td style="font-weight: 800; color:rgb(0, 56, 56)">Gynecology - Live Surgeries</td>
            <td class="my-1"></td>
          </tr>

          <tr>
            <th scope="row">15:10</th>
            <td>Radical Hysterectomy</td>
            <td>Dr. Vandana Jain</td>
          </tr>
          <tr>
            <th scope="row">15:10</th>
            <td>Robotic Myomectomy</td>
            <td>Dr. Leena Mehrotra</td>
          </tr>
          <tr>
            <th scope="row">15:30</th>
            <td>Nepal's First Robotic Gyn Procedures </td>
            <td>Dr. Nutan Sharma </td>
          </tr>

          <tr>
            <th scope="row">15:40</th>
            <td> Robotic Hysterectomy </td>
            <td>Dr. Bhavani Stalin </td>
          </tr>
          <tr>
            <th scope="row">15:50</th>
            <td style="font-weight: 800; color:rgb(0, 56, 56)">Gynecology - Live Surgeries</td>
            <td class="my-1"></td>
          </tr>
          <tr>
            <th scope="row">16:5</th>
            <td> Exenteration </td>
            <td>Dr. Sarbartha Kumar Pratihar </td>
          </tr>

          <tr style="color: rgb(5, 131, 131);">
            <th scope="row">16:15</th>
            <td style="font-weight: 800; color:rgb(0, 56, 56)">Panel Discussion and Q&A </td>
            <td class="my-1"></td>
          </tr>
          <tr>
            <th scope="row">16:30</th>
            <td>CLOSING REMARKS AND THANKS </td>
            <td>Dr. Sudhir Srivastava
            </td>
          </tr>

      </table>

    </section>
  </div>

</div>
<div class="pb-5">

</div>