<div class="card-grid">
  @if(searchResults && searchResults.length > 0) {
  @for(ele of searchResults; track $index) {
  <div class="card" style="background-color: rgba(253, 251, 251, 0.61);">
    <!-- Dynamic Data -->
    <div class="card-body">
      @for(e of ele?.doctors; track $index) {
      <h5 class="card-title">{{ e }}</h5>
      }
      <p class="card-text">
        {{ ele?.activityName }}
      </p>
      <p class="card-text">
        {{ ele?.about }}
      </p>
    </div>
    <!-- Dynamic Data -->
  </div>
  }
  }


</div>