<!-- --------New------ -->
<div class="container my-4 pb-5">
  <!-- Card Row -->
  <div class=" root row g-3">

    <!-- Card 1 -->
    <div class="col-12">
      <div class="custom-card p-3">
        <!-- Status / Title Row -->
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="card-title mb-1" style="color:  #00b386
;">Welcome Address</h5>
          <span class="badge status-badge" style="color:  #00cc66;">Live</span>
        </div>
        <!-- Subtitle Row -->
        <div class="text-muted mb-2">
          Saturday &bull; 8:30 AM &bull; Hall A+C
        </div>
        <!-- Speaker -->
        <div class="card-footer-text">
          <strong> Dr. Vishwa Srivastava</strong>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-12">
      <div class="custom-card p-3">
        <!-- Status / Title Row -->
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="card-title mb-1" style="color:  #00b386">
            SSI Mantra 3.0: How it is Different
          </h5>
          <span class=" badge status-upcoming" style="color: #00bfff	;">Upcoming</span>
        </div>
        <!-- Subtitle Row -->
        <div class="text-muted mb-2">
          Saturday &bull; 8:35 AM &bull; Hall A+C
        </div>
        <!-- Speaker -->
        <div class="card-footer-text" style="color: black;">
          <strong> Dr. Sudhir Rawal</strong>
        </div>
      </div>
    </div>


    <!-- Card 2 -->
    <div class="col-12">
      <div class="custom-card p-3">
        <!-- Status / Title Row -->
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="card-title mb-1" style="color:  #00b386">
            SSI Mantra 3.0: How it is Different
          </h5>
          <span class=" badge status-upcoming" style="color: #00bfff	;">Upcoming</span>
        </div>
        <!-- Subtitle Row -->
        <div class="text-muted mb-2">
          Saturday &bull; 8:35 AM &bull; Hall A+C
        </div>
        <!-- Speaker -->
        <div class="card-footer-text" style="color: black;">
          <strong> Dr. Sudhir Rawal</strong>
        </div>
      </div>
    </div>



    <!-- Card 2 -->
    <div class="col-12">
      <div class="custom-card p-3">
        <!-- Status / Title Row -->
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="card-title mb-1" style="color:  #00b386">
            SSI Mantra 3.0: How it is Different
          </h5>
          <span class=" badge status-upcoming" style="color: #00bfff	;">Upcoming</span>
        </div>
        <!-- Subtitle Row -->
        <div class="text-muted mb-2">
          Saturday &bull; 8:35 AM &bull; Hall A+C
        </div>
        <!-- Speaker -->
        <div class="card-footer-text" style="color: black;">
          <strong> Dr. Sudhir Rawal</strong>
        </div>
      </div>
    </div>



    <!-- Card 2 -->
    <div class="col-12">
      <div class="custom-card p-3">
        <!-- Status / Title Row -->
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="card-title mb-1" style="color:  #00b386">
            SSI Mantra 3.0: How it is Different
          </h5>
          <span class=" badge status-upcoming" style="color: #00bfff	;">Upcoming</span>
        </div>
        <!-- Subtitle Row -->
        <div class="text-muted mb-2">
          Saturday &bull; 8:35 AM &bull; Hall A+C
        </div>
        <!-- Speaker -->
        <div class="card-footer-text" style="color: black;">
          <strong> Dr. Sudhir Rawal</strong>
        </div>
      </div>
    </div>



    <!-- Card 2 -->
    <div class="col-12">
      <div class="custom-card p-3">
        <!-- Status / Title Row -->
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="card-title mb-1" style="color:  #00b386">
            SSI Mantra 3.0: How it is Different
          </h5>
          <span class=" badge status-upcoming" style="color: #00bfff	;">Upcoming</span>
        </div>
        <!-- Subtitle Row -->
        <div class="text-muted mb-2">
          Saturday &bull; 8:35 AM &bull; Hall A+C
        </div>
        <!-- Speaker -->
        <div class="card-footer-text" style="color: black;">
          <strong> Dr. Sudhir Rawal</strong>
        </div>
      </div>
    </div>




    <!-- Card 2 -->
    <div class="col-12">
      <div class="custom-card p-3">
        <!-- Status / Title Row -->
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="card-title mb-1" style="color:  #00b386">
            SSI Mantra 3.0: How it is Different
          </h5>
          <span class=" badge status-upcoming" style="color: #00bfff	;">Upcoming</span>
        </div>
        <!-- Subtitle Row -->
        <div class="text-muted mb-2">
          Saturday &bull; 8:35 AM &bull; Hall A+C
        </div>
        <!-- Speaker -->
        <div class="card-footer-text" style="color: black;">
          <strong> Dr. Sudhir Rawal</strong>
        </div>
      </div>
    </div>




    <!-- Card 2 -->
    <div class="col-12">
      <div class="custom-card p-3">
        <!-- Status / Title Row -->
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="card-title mb-1" style="color:  #00b386">
            SSI Mantra 3.0: How it is Different
          </h5>
          <span class=" badge status-upcoming" style="color: #00bfff	;">Upcoming</span>
        </div>
        <!-- Subtitle Row -->
        <div class="text-muted mb-2">
          Saturday &bull; 8:35 AM &bull; Hall A+C
        </div>
        <!-- Speaker -->
        <div class="card-footer-text" style="color: black;">
          <strong> Dr. Sudhir Rawal</strong>
        </div>
      </div>
    </div>




    <!-- Card 2 -->
    <div class="col-12">
      <div class="custom-card p-3">
        <!-- Status / Title Row -->
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="card-title mb-1" style="color:  #00b386">
            SSI Mantra 3.0: How it is Different
          </h5>
          <span class=" badge status-upcoming" style="color: #00bfff	;">Upcoming</span>
        </div>
        <!-- Subtitle Row -->
        <div class="text-muted mb-2">
          Saturday &bull; 8:35 AM &bull; Hall A+C
        </div>
        <!-- Speaker -->
        <div class="card-footer-text" style="color: black;">
          <strong> Dr. Sudhir Rawal</strong>
        </div>
      </div>
    </div>




    <!-- Card 2 -->
    <div class="col-12">
      <div class="custom-card p-3">
        <!-- Status / Title Row -->
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="card-title mb-1" style="color:  #00b386">
            SSI Mantra 3.0: How it is Different
          </h5>
          <span class=" badge status-upcoming" style="color: #00bfff	;">Upcoming</span>
        </div>
        <!-- Subtitle Row -->
        <div class="text-muted mb-2">
          Saturday &bull; 8:35 AM &bull; Hall A+C
        </div>
        <!-- Speaker -->
        <div class="card-footer-text" style="color: black;">
          <strong> Dr. Sudhir Rawal</strong>
        </div>
      </div>
    </div>




    <!-- Card 2 -->
    <div class="col-12">
      <div class="custom-card p-3">
        <!-- Status / Title Row -->
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="card-title mb-1" style="color:  #00b386">
            SSI Mantra 3.0: How it is Different
          </h5>
          <span class=" badge status-upcoming" style="color: #00bfff	;">Upcoming</span>
        </div>
        <!-- Subtitle Row -->
        <div class="text-muted mb-2">
          Saturday &bull; 8:35 AM &bull; Hall A+C
        </div>
        <!-- Speaker -->
        <div class="card-footer-text" style="color: black;">
          <strong> Dr. Sudhir Rawal</strong>
        </div>
      </div>
    </div>



    <!-- Card 2 -->
    <div class="col-12">
      <div class="custom-card p-3">
        <!-- Status / Title Row -->
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="card-title mb-1" style="color:  #00b386">
            SSI Mantra 3.0: How it is Different
          </h5>
          <span class=" badge status-upcoming" style="color: #00bfff	;">Upcoming</span>
        </div>
        <!-- Subtitle Row -->
        <div class="text-muted mb-2">
          Saturday &bull; 8:35 AM &bull; Hall A+C
        </div>
        <!-- Speaker -->
        <div class="card-footer-text" style="color: black;">
          <strong> Dr. Sudhir Rawal</strong>
        </div>
      </div>
    </div>


    <!-- Card 2 -->
    <div class="col-12">
      <div class="custom-card p-3">
        <!-- Status / Title Row -->
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="card-title mb-1" style="color:  #00b386">
            SSI Mantra 3.0: How it is Different
          </h5>
          <span class=" badge status-upcoming" style="color: #00bfff	;">Upcoming</span>
        </div>
        <!-- Subtitle Row -->
        <div class="text-muted mb-2">
          Saturday &bull; 8:35 AM &bull; Hall A+C
        </div>
        <!-- Speaker -->
        <div class="card-footer-text" style="color: black;">
          <strong> Dr. Sudhir Rawal</strong>
        </div>
      </div>
    </div>
  </div>
</div>
