<div class="container pt-5 pb-5 mb-5">



  <div class="row g-6">
    <!-- Hall A-->
    <div class="col-xl-3 col-md-6 pt-2 pb-2 ">

      <div class="card stats-card card-hover-primary ">
        <div class="card-body">

          <div class="d-flex justify-content-between align-items-start">
            <span class="badge bg-danger badge-custom">Live</span>
            <div class="card-body p-4">
              <h5 class="card-title mb-3 fw-bold">Welcome Address</h5>
              <p class="card-text text-muted mb-4">Saturday <b>.</b> 8:30 AM <B>.</B> Hall A+C</p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="fw-bold fs-4">Dr. Vishwa Srivastava</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-3 col-md-6 pt-2 pb-2">

      <div class="card stats-card card-hover-primary shadow-sm">
        <div class="card-body">

          <div class="d-flex justify-content-between align-items-start">
            <span class="badge bg-danger badge-custom">Live</span>
            <div class="card-body p-4">
              <h5 class="card-title mb-3 fw-bold">Welcome Address</h5>
              <p class="card-text text-muted mb-4">Saturday <b>.</b> 8:30 AM <B>.</B> Hall A+C</p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="fw-bold fs-4">Dr. Vishwa Srivastava</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-3 col-md-6 pt-2 pb-2">

      <div class="card stats-card card-hover-primary shadow-sm">
        <div class="card-body">

          <div class="d-flex justify-content-between align-items-start">
            <span class="badge bg-danger badge-custom">Live</span>
            <div class="card-body p-4">
              <h5 class="card-title mb-3 fw-bold">Welcome Address</h5>
              <p class="card-text text-muted mb-4">Saturday <b>.</b> 8:30 AM <B>.</B> Hall A+C</p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="fw-bold fs-4">Dr. Vishwa Srivastava</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-xl-3 col-md-6 pt-2 pb-2">

      <div class="card stats-card card-hover-primary shadow-sm">
        <div class="card-body">

          <div class="d-flex justify-content-between align-items-start">
            <span class="badge bg-danger badge-custom">Live</span>
            <div class="card-body p-4">
              <h5 class="card-title mb-3 fw-bold">Welcome Address</h5>
              <p class="card-text text-muted mb-4">Saturday <b>.</b> 8:30 AM <B>.</B> Hall A+C</p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="fw-bold fs-4">Dr. Vishwa Srivastava</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-3 col-md-6 pt-2 pb-2">

      <div class="card stats-card card-hover-primary shadow-sm">
        <div class="card-body">

          <div class="d-flex justify-content-between align-items-start">
            <span class="badge bg-danger badge-custom">Live</span>
            <div class="card-body p-4">
              <h5 class="card-title mb-3 fw-bold">Welcome Address</h5>
              <p class="card-text text-muted mb-4">Saturday <b>.</b> 8:30 AM <B>.</B> Hall A+C</p>
              <div class="d-flex justify-content-between align-items-center">
                <p class="fw-bold fs-4">Dr. Vishwa Srivastava</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<div class="container ">
</div>