* {
  color: rgb(22, 22, 22);
}

:host {
  display: block;
  min-height: 100vh;
  background: linear-gradient(135deg, #145252, #002727);
  font-family: Arial, sans-serif;
  padding: 20px 0; /* spacing at top and bottom */
}
/* --------new---------- */
/* Define your color palette */
.root {
  --primary-bg: #cce7e8; /* Card background color (light teal-ish) */
  --primary-text: #084f4f; /* Darker teal text color (optional) */
  --border-radius: 15px;
}

/* Custom Card */
.custom-card {
  background-color: var(--primary-bg);
  border-radius: var(--border-radius);
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.15);
  color: var(--primary-text);
}

/* Status Badge Styles */
.status-badge,
.status-upcoming {
  border-radius: 8px;
  font-size: 0.75rem;
  padding: 4px 8px;
  font-weight: 600;
  color: #141414;
}

/* Footer text style (Speaker name) */
.card-footer-text {
  font-size: 0.9rem;
  color: #333;
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
  .custom-card {
    padding: 1rem;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-footer-text {
    padding-top: 10px;
    font-size: 0.85rem;
  }
}
