<!-- Table Section -->
<div class=" pb-5">
  <div>
    <section class="container ">
      <h2 class="text-center pt-2 mb-4">UROLOGY</h2>
      <h4 class="text-center" style="font-size: 30px; color:#b3ffff ">DAY 1</h4>
      <table class="table table-success table-striped">
        <thead>
          <tr style="background-color: #014b4b ;">
            <th scope="col">Event Schedule</th>
            <th scope="col">Robotic Surgery Symposium</th>
            <th scope="col">Honored Delegate</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">14:00</th>
            <td style="font-weight: 800; color:rgb(0, 56, 56)">Live Surgery
              Update</td>
            <td class="my-1"></td>
          </tr>

          <tr>
            <th scope="row">14:00</th>
            <td>Robotic-Assisted Laparoscopic Prostatectomy - Tele Surgery</td>
            <td>Dr. Sudhir K Rawal
              Dr. Ashish Khanna
            </td>
          </tr>
          <tr>
            <th scope="row">14:00</th>
            <td>Pyeloplasty (Pediatric)</td>
            <td>Dr. Chandra Mohan Vaddi
            </td>
          </tr>
          <tr>
            <th scope="row">14:00</th>
            <td>Radical Nephrectomy - Tele Surgery</td>
            <td>Dr. Amitabh Singh
              Dr. Sarbartha Singh Pratihar</td>
          </tr>

          <tr>
            <th scope="row">14:30</th>
            <td>Partial Nephrectomy </td>
            <td>Dr. Sanjay Gogoi </td>
          </tr>
          <tr>
            <th scope="row">14:40</th>
            <td> Pediatric Pyeloplasty </td>
            <td>Dr. M Ramalingam </td>
          </tr>
          <tr>
            <th scope="row">14:50</th>
            <td>Cardiac - Live Surgery Update</td>
            <td class="my-1"></td>

          </tr>
          <tr>
            <th scope="row">14:55</th>
            <td>Pediatric Surgery on SSI Mantra </td>
            <td>Dr. Manjiri Somashekhar </td>
          </tr>
          <tr>
            <th scope="row">15:5</th>
            <td>Renal Transplant </td>
            <td>Dr. Anant Kumar </td>
          </tr>
          <tr>
            <th scope="row">15:15</th>
            <td>Urology - Live Surgery Update </td>
            <td>Moderated by Dr. Sudhir Srivastava</td>
          </tr>
          <tr style="color: rgb(5, 131, 131);">
            <th scope="row">15:40</th>
            <td style="font-weight: 800; color:rgb(0, 56, 56)">Panel Discussion and Q&A </td>
            <td class="my-1"></td>
          </tr>
      </table>

    </section>
  </div>

</div>
<div class="pb-5">

</div>