<!-- Table Section -->
<div class=" pb-5">
  <div>
    <section class="container ">
      <h2 class="text-center pt-2 mb-4">Team Members</h2>
      <table class="table table-success table-striped">
        <thead>
          <tr style="background-color: #014b4b ;">
            <th scope="col">Event Schedule</th>
            <th scope="col">Robotic Surgery Symposium</th>
            <th scope="col">Honored Delegate</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">8:25 AM</th>
            <td>Master of Ceremony</td>
            <td>Shruti Mishra</td>
          </tr>
          <tr>
            <th scope="row">8:30 AM</th>
            <td>Welcome Address</td>
            <td>Dr. Vishwa Srivastava</td>
          </tr>
          <tr>
            <th scope="row">8:35 AM</th>
            <td>SSI Mantra 3.0: How It Is Different</td>
            <td>Dr. Sudhir K Rawal</td>
          </tr>

          <tr>
            <th scope="row">8:45 AM</th>
            <td>Expanding Access to Robotic Surgery in India and Underserved Countries</td>
            <td>Dr. Somashekhar SP</td>
          </tr>
          <tr>
            <th scope="row">8:55 AM</th>
            <td>Clinical Experience with SSI Mantra Surgical Robotic System</td>
            <td>Dr. Amitabh Singh </td>
          </tr>
          <tr>
            <th scope="row">9:05 AM</th>
            <td>Tele Proctoring and Tele Surgery - A Disruptive Dream Come True</td>
            <td>Dr. Sudhir Srivastava </td>
          </tr>
          <tr>
            <th scope="row">9:15 AM</th>
            <td>How will Mantra Change The Global Robotic Surgery Scene </td>
            <td>Dr. Husam Balkhy</td>
          </tr>
          <tr>
            <th scope="row">9:25 AM</th>
            <td>My Journey with Surgical Robotics and Where Is It Going</td>
            <td>Dr. Frederic Moll</td>
          </tr>
          <tr>
            <th scope="row">9:35 AM</th>
            <td>Welcome AddressPanel Discussion and Q&A</td>
            <td>Moderated by Dr. Sudhir Srivastava</td>
          </tr>
          <tr style="color: rgb(5, 131, 131);">
            <th scope="row">9:45 AM</th>
            <td><b>Coffee Break</b></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">10:00 AM</th>
            <td>Keynote Address: Multi-Verse, String Theory & The God Equation</td>
            <td>Dr. Michio Kaku</td>
          </tr>
          <tr style="color: rgb(5, 131, 131);">
            <th scope="row">11:00 AM</th>

            <td> <span> Welcome AddressInauguration Ceremony</span></td>

            <td></td>
          </tr>
          <tr>
            <th scope="row">11:05 AM</th>
            <td>Lamp Lighting</td>
            <td>Dignitaries</td>
          </tr>
          <tr style="color: rgb(5, 131, 131);">
            <th scope="row">11:10 AM</th>
            <td><span> National Anthem</span></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">11:15 AM</th>
            <td>Welcome Address</td>
            <td>Dr. Sudhir Srivastava</td>
          </tr>
          <!-- <tr (click)="redirectToPage('chief-guest')" style="cursor: pointer;">
            <th scope="row">11:15 AM - 12:00 PM</th>
            <td>Welcoming Our Esteemed Chief Guest and Guests of Honor SMRSC 2025</td>
            <td>Dr. Sudhir Srivastava</td>
          </tr> -->
        </tbody>
      </table>

    </section>
  </div>
</div>
<div class="pb-5">

</div>
<app-search-show></app-search-show>
